* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    padding: 0;
    color:#d686ce;
    background-color: #010101;
}

nav a {
    color:#010101;

    text-decoration: none;
    margin-right: 20px;
}

nav {
    background-color:#d686ce;
}

header h1 {
    text-decoration:underline wavy;
    padding-bottom: 1rem;
}

body {
    font-family: system-ui;
    background-color: #f2caeb;
}

h2 {
    border-bottom: 2px solid #29213f;
    padding: 1rem;
    color:#5f1c99;
}

h3 {
    padding: 0.5rem;
    color:#8b31c0;
}

section {
    margin-bottom: 1rem;
    padding-top: 1rem;
}

.section1-content {
    padding: 1rem;
    text-align: center;
}

.section2-content {
    padding: 1rem;

}

ul li {
    list-style: none;
    text-align: center;
    margin-inline: center;
}

img {
    border-radius: 1rem;
    border:3px dotted #010101;
}

.image-content1 {
    padding-top: 1rem;
    padding: 20px;

}

.image-content1 img {
    margin: 0 auto;
    object-fit: cover;
    object-position:center;
}

.image-content2{
    padding-top: 1rem;
    padding: 20px;

}

.image-content2 img {
    margin: 0 auto;
    object-fit: cover;
    object-position:center;
}

footer {
    background-color:#010101;
    color:#d686ce;
}

fieldset {
    border: none
}

button {
    margin: 0.5rem;

}
/*
@media only screen and (max-width: 600px){
}

@media only screen and (min-width: 601px) and (max-width: 768px){
}

@media only screen and (min-width: 769px) and (max-width: 992px){
}

@media only screen and (min-width: 993px) and (max-width: 1200px){
}

@media only screen and (min-width: 1201px){
}
*/

